<button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
  メニュー <span class="caret"></span>
</button>
<ul class="dropdown-menu">
  <li><a href="#">料理リスト</a></li>
  <li><a href="#">タグリスト</a></li>
  <li><a href="#">ユーザリスト</a></li>
  <li role="separator" class="divider"></li>
  <li><a href="#">メニュー4</a></li>
</ul>
