<div class="contents">
  <div class="left col-sm-3 col-md-3">
    <div class="left__box">
      <h4 class="left__title">他サイト様おすすめ料理</h4>
      <div class="left__box1">
        <a href="http://cookpad.com/?utm_source=link_banner&utm_medium=link_banner&utm_content=bnr200x40" target="_blank"><img src="http://cookpad.com/assets/widget/cookpad_banner_l.gif" alt="レシピ検索No.1 料理レシピ載せるなら クックパッド" width="200" height="40"></a>
      </div>
      <div class="left__box2">
      </div>
    </div>
  </div>
  <div class="center col-sm-5 col-md-5">
    <div class="center__box">
      <h4>本日のおすすめ料理</h4>
    </div>
  </div>
  <div class="right col-sm-4 col-md-4">
    <div class="right__box">
      <h4>旬の食材</h4>
    </div>
  </div>
</div>
