.header{
  background-color: $color-white;
  height: 60px;
  &__left{
    float: left;
    &__subtitle{
      margin-top: 5px;
      &__message{
        font-size: 11px;
        margin-left: 5px;
      }
    }
    &__title{
      &__message{
        font-size: 24px;
        font-style: fantasy;
        margin-left: 30px;
        color: $color-orange;
        float: left;
      }
    }
    &__image{
      margin-top: -10px;
      heigth: 35px;
      width: 35px;
      margin-left: 40px;
      margin-right: 20px;
      float: left;
    }
    &__subtitle2{
        margin-left: 10px;
        float: left;
      &__message{
        font-size: 11px;
      }
    }
    &__btn{
      margin-top: -10px;
      margin-left: 20px;
      // float: left;
    }
  }
  &__right{
    &__btn{
      float: right;
    }
    .btn__icon{
      width: 20px;
      height: 20px;
      padding: -10px;
      border-raius: 30px;
    }
    &__btn{
      margin: 10px;
      &__status{

      }
    }
  }
}

