.recommend{
    padding: 0.2em 0.5em;
    margin: 1em 0;
    background: #d6ebff;
    box-shadow: 0px 0px 0px 10px #d6ebff;
    border: dashed 2px white;
  &__morimori{
    &__title{
      &__name{
        @include mixin-titlefont;
        font-size: 18px;
        margin-bottom: 15px;
      }
    }
    &__picture{
        margin-top: 10px;
      &__image{
        border-radius: 10px;
      }
    }
    &__detail{
      &__text{
      }
      &__title{
        @include mixin-titlefont-sub;
        // padding-top: 10px;
      }
      &__name{
      }
      &__creater{
        margin-top: 10px;
        border-radius: 15px;
        border: solid $color-orange 1px;
        box-shadow: $color-orange 2px 2px;
        background-color: $color-light-yellow;
        padding: 10px;
        &__title{
          @include mixin-titlefont;
          margin-bottom: 2px;
        }
        &__image{
        }
      }
    }
  }
}

