.recommend{
  padding: 10px 10px;
  border: solid 1px $color-orange;
  box-shadow: $color-orange 1px 1px 2px 2px;
  background-color: $color-white;
  border-radius: 5px;
  float: left;
  &__morimori{
    padding-top: 10px;
    &__title{
      &__name{
        @include mixin-titlefont;
        font-size: 14px;
        margin-bottom: 15px;
      }
    }
    &__picture{
      float: left;
      width: 140px;
      height: 180px;
      &__image{
        width: 130px;
        border-radius: 5px;
      }
    }
    &__text{
      @include clearfix();
      height: 80px;
      font-size: 12px;
    }
    &__usedfoodstuff{
      @include clearfix();
      padding: 10px;
      &__title{
        @include mixin-titlefont;
        margin-bottom: 5px;
      }
    }
  }
  &__creater{
    @include clearfix();
    margin-top: 10px;
    border-radius: 15px;
    border: solid $color-orange 1px;
    box-shadow: $color-orange 2px 2px;
    background-color: $color-light-yellow;
    padding: 10px;
    &__title{
      @include mixin-titlefont;
      margin-bottom: 2px;
    }
    &__image{
      width: 30px;
      height: 30px;
    }
  }
}
