.recommend{
  padding: 10px 20px;
  border: solid 1px $color-orange;
  box-shadow: $color-orange 1px 1px 2px 2px;
  background-color: $color-white;
  border-radius: 10px;
  &__morimori{
    padding-top: 10px;
    &__name{
      @include mixin-titlefont;
      font-size: 16px;
      margin-bottom: 15px;
    }
    &__picture{
      float: left;
      width: 250px;
      &__image{
      width: 240px;
      }
    }
    &__make{
      float: left;
      margin-left: 10px;
      &__title{
        @include mixin-titlefont;
        margin-bottom: 5px;
      }
      &__text{
        border-bottom: solid 1px $color-orange;
      }
    }
  }
  &__creater{
    margin-top: 10px;
    border-radius: 15px;
    border: solid $color-orange 1px;
    box-shadow: $color-orange 2px 2px;
    background-color: $color-light-yellow;
    padding: 10px;
    &__title{
      @include mixin-titlefont;
      margin-bottom: 10px;
    }
    &__image{
      width: 30px;
      height: 30px;
    }
  }
}
