// 色の変数指定
$color-light-green: #E6FFE9;
$color-green: #008800;
$color-white: #FFFFFF;
$color-dark-ultramarine: #253141;
$color-ultramarine: #2f3e51;
$color-gray: #999999;
$color-white-gray: #FAFAFA;
$color-light-gray: #DDDDDD;
$color-dark-gray: #434A54;
$color-light-black: #333333;
$color-light-blue: #38AEF0;
$color-orange: #F35500;
$color-light-orange: #FFCC99;
$color-light-yellow: #FFFFDD;
$color-light-pink: #FFD5EC;
