.top{
  @include mixin-headerfix;
  &__title{
    font-size: 80px;
    font-weight: bold;
    color: $color-white;
    text-shadow: $color-orange 5px 5px;
    margin:10px 16px;
  }
}

// index
.contents{
  @include mixin-headerfix;
  &__recommend{
    @include mixin-mainbox;
    background-color: $color-light-gray;
    padding: 10px;
    &__title{
      padding-top: 10px;
      @include mixin-titlefont;
      font-size: 24px;
    }
    &__text{
      text-align: center;
    }
    &__sub{
      &__title{
        @include mixin-titlefont;
        margin-top: 30px;
        font-size: 18px;
        background-color: #d6ebff;
        box-shadow: 0 0 0 10px #d6ebff;
      }
    }
    &__main{
      &__title{
        @include mixin-titlefont;
        margin-top: 30px;
        font-size: 18px;
        background-color: #d6ebff;
        box-shadow: 0 0 0 10px #d6ebff;
      }
    }
  }
  &__foodstuff{
    @include mixin-mainbox;
    &__title{
      @include mixin-titlefont;
      font-size: 24px;
      }
    &__text{
      text-align: center;
    }
    &__category{
      @include clearfix();
      padding: 15px 0;
      &__image{
        heigth: 25px;
        width: 25px;
      }
      &__name{
        font-size: 18px;
        color: $color-green;
        margin: 2px 0 0 5px;
      }
      &__detail{
        margin: 10px 0 0 10px;
      }
    }
  }
  &__user{
    @include mixin-mainbox;
     padding: 10px;
     background-color: $color-light-gray;
    &__title{
      @include mixin-titlefont;
      font-size: 24px;
    }
    &__info{
      margin-top: 10px;
      border-radius: 15px;
      border: solid $color-orange 1px;
      background-color: $color-light-yellow;
      padding: 10px;
      min-height: 120px;
      &__main{
        text-align:center;
        &__image{
          width: 70px;
          border-radius: 20px;
        }
      }
      &__detail{
        margin-left: 10px;
      }
    }
  }
}

// show
.showcontents{
  @include mixin-headerfix;
  &__cook{
      background-color: $color-light-gray;
      padding: 0 20px;
      margin-top: 10px;
      border-radius: 10px;
    &__title{
      @include mixin-titlefont;
      font-size: 20px;
      margin: 20px 0;
    }
    &__main{
      margin: 10px 0 0 10px;
      padding:10px 0;
      border-bottom: solid 1px;
      padding: 10px;
      background-color: $color-light-gray;
      &__left{
        &__picture{
          padding-left: 20px;
          &__image{
            width: 350px;
            border-radius: 5px;
          }
        }
      }
      &__right{
        padding: 0 30px;
        &__creater{
          &__title{
            @include mixin-titlefont-sub;
          }
          &__info{
            @include clearfix();
            margin-left: 5px;
            &__picture{
              margin: 5px 0 0 5px;
              &__image{
                width: 50px;
                border-radius: 5px;
                margin-bottom: 5px;
              }
            }
            &__detail{
              padding-left: 10px;
            }
            &__follow{
              padding: 5px 5px 0 0;
            }
          }
        }
        &__genre{
          &__title{
            @include mixin-titlefont-sub;
          }
          &__name{
            margin-left: 5px;
          }
        }
        &__introduction{
          &__title{
            @include mixin-titlefont-sub;
          }
          &__text{
            margin-left: 5px;
          }
        }
        &__bestfoodstuff{
          &__title{
            @include mixin-titlefont-sub;
          }
          &__name{
            margin-left: 5px;
          }
        }
        &__foodstuff{
          &__title{
            @include mixin-titlefont-sub;
          }
          &__name{
            margin: 2px 0 0 5px;
            border-bottom: dashed 1px;
          }
        }
      }
    }
    &__make{
      padding: 20px;
      &__box{
        border-bottom: dashed 1px;
        &__number{
          padding-top: 20px;
          font-size: 20px;
          color: $color-orange;
        }
        &__text{
          padding: 10px;
        }
        &__picture{
            text-align: center;
          &__image{
            border-radius: 10px;
            padding-bottom: 20px;
            width: 400px;
          }
        }
      }
    }
  }
  &__recommend{
    padding-left: 20px;
    @include flex;
    &__foods{
      margin-top: 10px;
      padding: 0 20px 10px 20px;
      background-color: $color-light-gray;
      border-radius: 10px;
      &__title{
        @include mixin-titlefont;
        font-size: 20px;
        padding: 10px 0;
      }
    }
    &__users{
      margin-top: 10px;
      padding: 0 20px 10px 20px;
      background-color: $color-light-gray;
      border-radius: 10px;
      &__title{
        @include mixin-titlefont;
        font-size: 20px;
        padding: 10px 0;
      }
    }

  }
}
footer {
  text-align: center;
  .breadcrumb{
    background-color: $color-white;
  }
}
