.contents{
  height: 1000px;
  @include mixin-headerfix;
  background-color: $color-light-gray;
  .top{
    &__title{
      font-size: 120px;
      font-weight: bold;
      color: $color-white;
      text-shadow: $color-orange 2px 2px;
      background-image: url(top.png);
      margin:10px 16px;
    }
  }
  .left{
     &__box{
       @include mixin-mainbox;
       &__title{
      }
    }
  }
  .center{
    &__box{
       @include mixin-mainbox;
    }
  }
  .right{
    &__box{
       @include mixin-mainbox;
       background-color: $color-light-yellow;
      &__title{
        font-size: 22px;
        color: $color-green;
        text-aline: center;
      }
      &__subtitle{
        @include clearfix();
        padding-top: 15px;
        &__image{
          heigth: 25px;
          width: 25px;
          float: left;
        }
        &__category{
          font-size: 18px;
          color: $color-green;
          float: left;
          margin: 2px 0 0 5px;
        }
      }
      &__foodstuff{
        padding-left: 10px;
      }
    }
  }
}
