// ボックスの枠線
@mixin mixin-mainbox{
  background-color: $color-white;
  border-radius: 10px;
  width: 98%;
  margin: 10px 0 0 10px;
  padding:10px 0;
};

// ヘッダー固定によるずれの修正
@mixin mixin-headerfix{
  padding-top: 60px;
}

//タイトル部分のフォント
@mixin mixin-titlefont{
  font-weight: bold;
  color: $color-green;
  text-align: center;
}

//clearfix
@mixin clearfix() {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}
